There are various data types in Python. The diagram below shows the structure of these types. 

<img src="https://bootrain-lms-assets.s3.eu-central-1.amazonaws.com/bootrain-lms-static/images/01_IntroductionToPython/02_DataTypes.png" width="1000">

Here, we first talk about four basic data types of Python. These are:
- **String**: A string represents text. It is comprised of a set of characters that can contain spaces, numbers or signs.
- **Numeric**: They can be an integer (e.g. 5) or float (e.g. 3.33333). Note that the decimal point is represented by a period instead of a comma. We are not going to mention complex numeric types at this point. 
- **Boolean**: This type of data represents True or False.
- **None type**: This type is useful for representing the absence of information in general.

Besides these, there are also more complex types (collections) of data in Python like:
- **List**: An ordered collection of terms, be it numbers, strings, booleans, or any combination of these.
- **Tuple**: An ordered collection of terms, which usually have a semantic connection. 
- **Dictionary**: A unordered collection that pairs a series of unordered unique entities with a set of values (which don't have to be unique) for easy referencing.
- **Set**: An unordered collection of entities, all of them unique.

Since we are going to learn **none type, list, tuple, dictionary and set** types in the following lessons, we are going to focus on the basic data types in this lesson.

We are not going to cover **complex numbers** in our lessons as they are not that commonly used in data science projects.

Every variable that is assigned a value has a data type in Python. We can use the `type()` command to learn a variable's type:

In [ ]:
Exam_Score = 42
print ("Type of variable Exam_Score  : ", type(Exam_Score))
print ("Value of variable Exam_Score : ", Exam_Score)

In [ ]:
Exam_Score = "forty two"
print ("Type of variable Exam_Score  : ", type(Exam_Score))
print ("Value of variable Exam_Score : ", Exam_Score)

In [ ]:
Exam_Success = False
print ("Type of variable Exam_Success  : ", type(Exam_Success))
print ("Value of variable Exam_Success : ", Exam_Success)

We have assigned int (42), string ('forty two') and boolean (False) values to the variables we defined above. As you can see, we used the same variable to represent each value. Hence, we overwrite the value of the variable several times. Notice that when we assign something different to a variable, its data type changes accordingly.

# 1. Numbers: Integer and Float 

Most common two types of numbers in Python: integer and float:

- **Integers:** Integers are not written as a fraction or as a decimal number. There is no limit to the maximum integer we can define.
- **Floats:** Numbers containing a decimal point. The precision of these numbers, although high, is not perfect, however.

In [ ]:
pi_value = 3.14 # Defining float
radius = 10 # Defining integer

print(pi_value)
print(radius)

Now let us look at the **arithmetic operations** that we can do with numbers.

## 1.1. Addition and Subtraction

We use **`+`** for addition and **`-`** for subtraction.

In [ ]:
print(3+5)
print(pi_value)
print(radius)

Now it is your turn. Change the code and make calculations.

In [2]:
#Assign the correct value to sum_result and subtract_result variables
number_1 = 22
number_2 = 15

# Addition
sum_result = number_1+number_2 #change this line
print("Sum of 15 and 22       : ", sum_result)

# Subtraction
subtract_result = number_1-number_2 #change this line
print("Subtraction 15 from 22 : ", subtract_result)

Sum of 15 and 22       :  37
Subtraction 15 from 22 :  7

## 1.2. Multiplication and exponential (power) calculation

**`*`** is used for multiplication and `**` is used for exponential (power) calculation.

In [3]:
print('Multiplication of 3 and 2 :', 3*2)
print('Square of 3               :', 3**2)

Multiplication of 3 and 2 : 6
Square of 3               : 9

Now it is your turn again.

In [5]:
# Multiplication
Multiplication = 15*22 #change this line 
print("Multiplication of 15 and 22 : ", Multiplication)

# Square
square = 9**2 #change this line 
print("Square of 9                 : ", square)

# Exponent
exp =  4**3 #change this line  
print("4 to the power 3            : ", exp)

Multiplication of 15 and 22 :  330
Square of 9                 :  81
4 to the power 3            :  64

## 1.3. Division 
We use one or two division slash (**`/`** and **`//`**) for dividing numbers. When we divide by **`//`**, the decimal part of the result is discarded and the ouput is an integer (aka integer division) The mod (**`%`**) sign is used to find the remainder of the division.

Change the numbers below and see the results.

In [6]:
# Division
quotient = 130/2  
print("Result of division (single slash) :", quotient)

double_slash = 130//2  
print("Result of division(double slash):", double_slash)

# Mod 
remainder = 25%7
print("Remainder after division :", remainder)

Result of division (single slash) : 65.0
Result of division(double slash): 65
Remainder after division : 4

## 1.4. Priority of Operators
Python performs arithmetic calculations according to the following  priorities. For this reason, we need to use parentheses $()$ when we need to do an underlying operation first.

1. Parenthesis <strong>()</strong> 
2. Power (Exponent) <strong>**</strong> 
3. Multiplication or division <strong>* /</strong>
4. Add or subtract <strong> + - </strong>

In [7]:
print ("3*(2+3) ="  , 3*(2+3))
print ("3*2**3  ="  , 3*2**3)
print ("3*2+3   ="  , 3*2+3)

3*(2+3) = 15
3*2**3  = 24
3*2+3   = 9

# 2. String 

Besides numbers, Python can also manipulate strings which can be expressed in several ways. They can be enclosed in single quotes ('...') or double quotes ("...") with the same result.

In [ ]:
word1 = 'orange'
word2 = "lemon"
print(word1, " & " , word2)

If you need to use `'` or `"` in a string, you can use `\` as [escape character](https://docs.python.org/2.0/ref/strings.html). The quote after `\` will be in the text.

In [1]:
print('I don\'t like orange')

I don't like orange

In the text above, we used `\` character before the quote, so we could put a quote in the text. Another way is using double quote before and after the text. In this case we don't need to put a `\` before the `'` character.

In [2]:
print("I don't like orange")

I don't like orange

In [ ]:
sentence = 'I don\'t like orange'
print(sentence)

sentence = "I don't like orange"
print(sentence)

**Square brackets [ ]** can be used to access elements of the string. Remember that the first character has the position 0.

In [8]:
word = 'orange'
print('Word                   : ' , word)
print('First letter           : ' , word[0])
print('Second letter          : ' , word[1])
print("Letters from 3 to 5    : " , word[2:5])
print("Form 3 to last         : " , word[2:])

Word                   :  orange
First letter           :  o
Second letter          :  r
Letters from 3 to 5    :  ang
Form 3 to last         :  ange

To get the length of a string, we can use `len()` function.

In [9]:
word1 = "orange"
word2 = "lemon"
print("Length of word ", word1 , ' :' , len(word1))

Length of word  orange  : 6

To concatenate, or combine two strings, we can use the **+** operator.

In [10]:
print("+ operator :", word1 + " & " + word2)

+ operator : orange & lemon

Another way to combine string and variables we can use `.format()` method. The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are. We can format the decimal value in the placeholders `{}` by specifying like `{:.3f}`,`{:.0f}`. If numbers are used in placeholders, they indicate the sequences of arguments.

In [ ]:
word = 'orange'
print('Word                   : ' , word)
print('First letter           : ' , word[0])
print('Second letter          : ' , word[1])
print("Letters from 3 to 5    : " , word[2:5])
print("Form 3 to last         : " , word[2:])

**Getting input from user :** `input()` function reads a line entered by keyboard, converts it into a string and returns it. You can use this input string in your python code.

In [11]:
name = input('Your name ?  : ')
age = input('Your age ?: ') 
print ("Your name is {} and you are {} years old.".format(name,age))

Your name ?  : omer
Your age ?: 44
Your name is omer and you are 44 years old.

# 3. Boolean 

Booleans represent one of two values: `True` or `False`.

In [5]:
Is_married = True
Is_succesful = False

Booleans are the variables that the computer can easily understand and define as they are closer to how it deals with data in its circuitry. After all, it already works with logic 0-1, we can say that they like booleans. As you progress in your data science journey, you are going to find that we convert some values to booleans to compute effectively and efficiently.

# 4. None <a id='none'></a>

Sometimes we need to keep the values ​​of variables empty. For example, if we do not know the job information when recording a person's details, it should be defined as `None` instead of assigning any value.

In [1]:
Name = 'Alice'
Surname = "Brown"
Age  = 24
Job = None

print (Job)

None

# 5. Type conversion

You can convert one data type to another with conversion functions. 

- `int()` : This function converts a float or a string that only contains numeric data into an integer.


- `float()` : This function is used to convert an integer or string which only contains numeric data into a floating point number.


- `str()` : This function is used to convert an integer or float data type into a string.

When we do an arithmetic operation with different types of variables, we get errors. Therefore, we need to convert them into an appropriate type (i.e. int or float).

In [3]:
a = 42
b = "10"
c = "1.5"
d = "Apple"

print(a-int(b))
print(a-float(c))
print(d+str(a))

32
40.5
Apple42

# Assignment

Write your solutions and download your code as .py file. Then upload that file to your GitHub account and share the GitHub link by the button below.

1. Suppose you invested in Bitcoin at the end of 2017 when Bitcoin gained a lot of value. What would be your money at the end of a week if you had invested \$1000 with an average daily increase of 12\% ? You can solve the problem using Python.

        ##### Help

        # Create a variable capital ($1000)

        # Create a variable for daily growth (12%)

        # Create a variable for period (7)

        # Calculate the final growth rate

        # Calculate result

        # Print result
        
2. Print the text in quotes with Python. However, you must get the numbers from variables using `.format()` notation. <br> Because the text is long, you might consider writing in two lines:

        `"When we buy bitcoin with 1000 USD at the beginning of the week, we would earn 1210.68 USD at the end of the week, with an average gain of 12\%."`

3. Get the temperature in Fahrenheit from user and write a code to convert it to Celcius. For conversion, you can use this formula: C = (5/9) * (F - 32)

        Enter the temperature in Fahrenheit: 
        user --> 26
        output --> Temperature (C) : -3.33
        
4. Get a three digit number the from user and calculate the sum of the digits in the integer.

        user --> 365
        output --> "The sum of digits in the number is 14

5. Write some code to calculate the hypotenuse of a right angled triangle. Get the side lengths from the user.

        user --> first side lenth : 6
        user --> first side lenth : 8
        output --> "The length of the hypotenuse is 10