In [2]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
mrkt= pd.read_csv(url,sep='\t')

In [3]:
mrkt.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [21]:

# reassign the column with the cleaned prices
mrkt.item_price = prices

# delete the duplicates in item_name and quantity
chipo_filtered = mrkt.drop_duplicates(['item_name','quantity','choice_description'])

# chipo_filtered

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

# chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()
# chipo_one_prod[chipo_one_prod['item_price']>10]



mrkt.query('price_per_item > 10').item_name.nunique()

UndefinedVariableError: name 'price_per_item' is not defined

In [6]:
mrkt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [5]:
mrkt.shape

(4622, 5)

In [7]:
mrkt.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
mrkt.columns[0]

'order_id'

In [9]:
c=mrkt.groupby("item_name")
c=c.sum()
c

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [11]:
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [12]:
d = mrkt.groupby("item_name")

In [13]:
d=d.sum()

In [14]:
d=d.sort_values("quantity",ascending=False)

In [15]:
d.head(3)

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506

In [16]:
mrkt.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [17]:
c = mrkt.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(10)

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     37550        40
[Lemonade]                                             31892        36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...     24432        36
[Coca Cola]                                            19282        32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...     29614        30

In [70]:
dollarizer = lambda x: float(x[1:-1])
mrkt.item_price = mrkt.item_price.apply(dollarizer).sum()

In [75]:
mrkt.item_price.dtype

dtype('float64')

In [78]:
dollarizer = lambda x: float(x[1:-1])

In [81]:
mrkt.item_price.dtype

dtype('float64')

In [84]:
total=(mrkt.item_price* mrkt.quantity).sum()

In [85]:
total

171534795.52000004

In [88]:
revenue = (mrkt['quantity']* mrkt['item_price']).sum()
revenue

171534795.52000004

In [89]:
orders = mrkt.order_id.value_counts().count()

In [90]:
orders

1834

In [91]:
mrkt['revenue'] = mrkt['quantity'] * mrkt['item_price']
order_grouped = mrkt.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

93530.4228571399

In [92]:
mrkt.groupby(by=['order_id']).sum().mean()['revenue']

93530.4228571399

In [175]:
chipo_filtered = mrkt.drop_duplicates(['item_name','quantity','choice_description'])

In [177]:
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,34500.16,34500.16
1,1,1,Izze,[Clementine],34500.16,34500.16
2,1,1,Nantucket Nectar,[Apple],34500.16,34500.16
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,34500.16,34500.16
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",34500.16,34500.16
6,3,1,Side of Chips,NaN,34500.16,34500.16
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",34500.16,34500.16
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",34500.16,34500.16
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",34500.16,34500.16
10,5,1,Chips and Guacamole,NaN,34500.16,34500.16
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",34500.16,34500.16
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",34500.16,34500.16
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",34500.16,34500.16
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",34500.16,34500.16
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",34500.16,34500.16
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",34500.16,34500.16
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",34500.16,34500.16
22,11,1,Nantucket Nectar,[Pomegranate Cherry],34500.16,34500.16
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",34500.16,34500.16
24,12,1,Izze,[Grapefruit],34500.16,34500.16
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",34500.16,34500.16
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",34500.16,34500.16
28,14,1,Canned Soda,[Dr. Pepper],34500.16,34500.16
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",34500.16,34500.16
31,16,1,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Fresh Tom...",34500.16,34500.16
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",34500.16,34500.16
34,17,1,Bottled Water,NaN,34500.16,34500.16
35,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice]",34500.16,34500.16
36,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",34500.16,34500.16
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,34500.16,34500.16
...,...,...,...,...,...,...
4502,1790,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",34500.16,34500.16
4504,1791,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Rice, Sour Cream, Guacam...",34500.16,34500.16
4508,1793,1,Steak Burrito,[Brown Rice],34500.16,34500.16
4510,1793,1,Barbacoa Bowl,[Guacamole],34500.16,34500.16
4518,1796,1,Steak Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",34500.16,34500.16
4530,1801,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",34500.16,34500.16
4536,1803,1,Steak Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",34500.16,34500.16
4540,1805,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",34500.16,34500.16
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",34500.16,34500.16
4547,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",34500.16,34500.16
4549,1808,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",34500.16,34500.16
4553,1810,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",34500.16,34500.16
4556,1811,1,Chicken Burrito,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",34500.16,34500.16
4557,1811,1,Carnitas Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",34500.16,34500.16
4559,1812,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Gua...",34500.16,34500.16
4562,1814,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",34500.16,34500.16
4566,1816,1,Chicken Burrito,"[Roasted Chili Corn Salsa, [Pinto Beans, Chees...",34500.16,34500.16
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",34500.16,34500.16
4580,1822,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",34500.16,34500.16
4589,1825,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",34500.16,34500.16
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",34500.16,34500.16
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",34500.16,34500.16
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",34500.16,34500.16
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",34500.16,34500.16
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",34500.16,34500.16
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],34500.16,34500.16
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",34500.16,34500.16
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",34500.16,34500.16
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",34500.16,34500.16
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",34500.16,34500.16

In [181]:
mrkt[(mrkt['item_name'] == 'Chicken Bowl') & (mrkt['quantity'] == 1)]

,order_id,quantity,item_name,choice_description,item_price,revenue
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",34500.16,34500.16
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",34500.16,34500.16
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",34500.16,34500.16
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",34500.16,34500.16
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",34500.16,34500.16
76,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",34500.16,34500.16
78,34,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",34500.16,34500.16
99,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",34500.16,34500.16
110,49,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",34500.16,34500.16
123,54,1,Chicken Bowl,"[Fresh Tomato Salsa, [Guacamole, Cheese, Sour ...",34500.16,34500.16
138,62,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",34500.16,34500.16
140,63,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Sour Crea...",34500.16,34500.16
142,64,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",34500.16,34500.16
160,73,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",34500.16,34500.16
176,79,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",34500.16,34500.16
182,82,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",34500.16,34500.16
193,86,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",34500.16,34500.16
199,89,1,Chicken Bowl,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",34500.16,34500.16
206,92,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",34500.16,34500.16
209,93,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",34500.16,34500.16
211,93,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",34500.16,34500.16
218,96,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",34500.16,34500.16
220,97,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",34500.16,34500.16
224,98,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",34500.16,34500.16
231,102,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",34500.16,34500.16
252,110,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Let...",34500.16,34500.16
257,111,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",34500.16,34500.16
284,124,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",34500.16,34500.16
290,126,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",34500.16,34500.16
291,127,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Sour Crea...",34500.16,34500.16
...,...,...,...,...,...,...
4443,1771,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",34500.16,34500.16
4444,1771,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",34500.16,34500.16
4465,1779,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",34500.16,34500.16
4481,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, Rice]",34500.16,34500.16
4483,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",34500.16,34500.16
4484,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",34500.16,34500.16
4486,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",34500.16,34500.16
4488,1786,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",34500.16,34500.16
4495,1788,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",34500.16,34500.16
4498,1789,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",34500.16,34500.16
4506,1792,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",34500.16,34500.16
4511,1794,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Fajita Veget...",34500.16,34500.16
4532,1802,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",34500.16,34500.16
4537,1804,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",34500.16,34500.16
4540,1805,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",34500.16,34500.16
4553,1810,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",34500.16,34500.16
4555,1811,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",34500.16,34500.16
4564,1815,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",34500.16,34500.16
4574,1819,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",34500.16,34500.16
4576,1820,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream...",34500.16,34500.16
4581,1822,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",34500.16,34500.16
4583,1823,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",34500.16,34500.16
4586,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",34500.16,34500.16
4587,1824,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",34500.16,34500.16
4589,1825,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",34500.16,34500.16
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",34500.16,34500.16
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",34500.16,34500.16
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",34500.16,34500.16
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",34500.16,34500.16
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",34500.16,34500.16

In [197]:
mrkt.item_name.sort_values()
mrkt.sort_values(by = "item_name")
chipo_drink_steak_bowl = mrkt[(mrkt.item_name == "Canned Soda") & (mrkt.quantity > 1)]
chipo_drink_steak_bowl.count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
revenue               20
dtype: int64

In [191]:
mrkt.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,34500.16,34500.16

In [189]:
oc.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

In [107]:
oc.count()

user_id       943
age           943
gender        943
occupation    943
zip_code      943
dtype: int64

In [109]:
oc.shape[1]

5

In [110]:
oc.shape[0]

943

In [111]:
oc.columns

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [112]:
oc.index

RangeIndex(start=0, stop=943, step=1)

In [113]:
oc.columns.dtype

dtype('O')

In [115]:
oc.occupation

0         technician
1              other
2             writer
3         technician
4              other
5          executive
6      administrator
7      administrator
8            student
9             lawyer
10             other
11             other
12          educator
13         scientist
14          educator
15     entertainment
16        programmer
17             other
18         librarian
19         homemaker
20            writer
21            writer
22            artist
23            artist
24          engineer
25          engineer
26         librarian
27            writer
28        programmer
29           student
           ...
913            other
914    entertainment
915         engineer
916          student
917        scientist
918            other
919           artist
920          student
921    administrator
922          student
923            other
924         salesman
925    entertainment
926       programmer
927          student
928        scientist
929        scientist
930         educator
931         educator
932          student
933         engineer
934           doctor
935            other
936         educator
937       technician
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

In [131]:
a=oc.groupby(by='occupation').count()

In [132]:
a.sum()

user_id     943
age         943
gender      943
zip_code    943
dtype: int64

In [130]:
oc.groupby(by='occupation').count().max()

user_id     196
age         196
gender      196
zip_code    196
dtype: int64

In [133]:
oc.

AttributeError: 'DataFrame' object has no attribute 'summarize'

In [135]:
oc.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [142]:
oc.occupation.nunique()

21

In [149]:
oc.occupation.value_counts().head(1)

student    196
Name: occupation, dtype: int64

In [151]:
oc.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

In [152]:
oc.describe(include = "all")

           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

In [164]:
oc.occupation.nunique()
oc.occupation.value_counts().head(1).index[0]

'student'

In [167]:
oc.age.value_counts().head()

30    39
25    38
22    37
28    36
27    35
Name: age, dtype: int64

In [168]:
round(oc.age.mean())

34