In [9]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
mrkt= pd.read_csv(url,sep='\t')

In [10]:
mrkt.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [11]:
mrkt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [12]:
mrkt.shape

(4622, 5)

In [13]:
mrkt.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [14]:
mrkt.columns[0]

'order_id'

In [15]:
c=mrkt.groupby("item_name")
c=c.sum()
c

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [24]:

# reassign the column with the cleaned prices
mrkt.item_price = prices

# delete the duplicates in item_name and quantity
chipo_filtered = mrkt.drop_duplicates(['item_name','quantity','choice_description'])

# chipo_filtered

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

# chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()
# chipo_one_prod[chipo_one_prod['item_price']>10]



mrkt.query('price_per_item > 10').item_name.nunique()

NameError: name 'prices' is not defined

In [26]:
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [ ]:
d = mrkt.groupby("item_name")

In [ ]:
d=d.sum()

In [ ]:
d=d.sort_values("quantity",ascending=False)

In [ ]:
d.head(3)

In [25]:
mrkt.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [22]:
c = mrkt.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(10)

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     37550        40
[Lemonade]                                             31892        36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...     24432        36
[Coca Cola]                                            19282        32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...     29614        30

In [23]:
dollarizer = lambda x: float(x[1:-1])
mrkt.item_price = mrkt.item_price.apply(dollarizer).sum()

In [ ]:
mrkt.item_price.dtype

In [ ]:
dollarizer = lambda x: float(x[1:-1])

In [ ]:
mrkt.item_price.dtype

In [ ]:
total=(mrkt.item_price* mrkt.quantity).sum()

In [4]:
total

NameError: name 'total' is not defined

In [ ]:
revenue = (mrkt['quantity']* mrkt['item_price']).sum()
revenue

In [ ]:
orders = mrkt.order_id.value_counts().count()

In [ ]:
orders

In [ ]:
mrkt['revenue'] = mrkt['quantity'] * mrkt['item_price']
order_grouped = mrkt.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

In [ ]:
mrkt.groupby(by=['order_id']).sum().mean()['revenue']

In [ ]:
chipo_filtered = mrkt.drop_duplicates(['item_name','quantity','choice_description'])

In [ ]:
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
chipo_one_prod

In [ ]:
mrkt[(mrkt['item_name'] == 'Chicken Bowl') & (mrkt['quantity'] == 1)]

In [ ]:
mrkt.item_name.sort_values()
mrkt.sort_values(by = "item_name")
chipo_drink_steak_bowl = mrkt[(mrkt.item_name == "Canned Soda") & (mrkt.quantity > 1)]
chipo_drink_steak_bowl.count()

In [ ]:
mrkt.sort_values(by = "item_price", ascending = False).head(1)

In [ ]:
oc.tail(10)

In [ ]:
oc.count()

In [ ]:
oc.shape[1]

In [5]:
oc.shape[0]

NameError: name 'oc' is not defined

In [ ]:
oc.columns

In [ ]:
oc.index

In [ ]:
oc.columns.dtype

In [ ]:
oc.occupation

In [ ]:
a=oc.groupby(by='occupation').count()

In [ ]:
a.sum()

In [ ]:
oc.groupby(by='occupation').count().max()

In [ ]:
oc.

In [ ]:
oc.head()

In [ ]:
oc.occupation.nunique()

In [ ]:
oc.occupation.value_counts().head(1)

In [ ]:
oc.describe()

In [6]:
oc.describe(include = "all")

NameError: name 'oc' is not defined

In [ ]:
oc.occupation.nunique()
oc.occupation.value_counts().head(1).index[0]

In [ ]:
oc.age.value_counts().head()

In [ ]:
round(oc.age.mean())